name: Update README

on:
  schedule:
    - cron: '*/59 * * * *'
  workflow_dispatch:

jobs:
  build:  
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: PluckyPrecious/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
